/* #root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
} */

.bigBox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid pink;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
}

.options {
  position: fixed;
  top: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid grey;
  padding: 8px;
  border-radius: 4px;
  z-index: 2;
}

.eachSlideEffect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.eachSlideEffect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #0e1111;
}

.currentSlide {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.buttons {
  position: fixed;
  bottom: 20%;
  width: 100%;
  border: 1px solid red;
}

.prevBtn,
.nextBtn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.prevBtn:hover,
.nextBtn:hover {
  background-color: #555;
}
